<div class="description-generator">
    <div class="description-controls">
        <div class="row align-items-center">
            <div class="col-md-6">
                <h4 class="description-title">Generated Description</h4>
            </div>
            <div class="col-md-6 text-end">
                <div class="description-actions">
                    <button type="button" class="btn btn-outline-primary btn-generate" id="generateBtn" disabled>
                        <i class="bi bi-magic me-1"></i>
                        Generate Description
                    </button>
                    <button type="button" class="btn btn-outline-secondary btn-copy" id="copyBtn" disabled>
                        <i class="bi bi-clipboard me-1"></i>
                        Copy
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="description-content">
        <div id="descriptionText" class="description-text">
            <div class="description-placeholder">
                <i class="bi bi-file-text display-4 text-muted"></i>
                <p class="text-muted mt-3">Complete the cost calculation above to generate a professional description for your jewelry piece.</p>
            </div>
        </div>
    </div>

    <div class="description-meta">
        <div class="row">
            <div class="col-md-6">
                <div class="description-stats" id="descriptionStats">
                    <!-- Description statistics will be shown here -->
                </div>
            </div>
            <div class="col-md-6 text-end">
                <div class="description-timestamp" id="descriptionTimestamp">
                    <!-- Generation timestamp will be shown here -->
                </div>
            </div>
        </div>
    </div>
</div>